#reaction-area {
    display: flex;
    /* Centers horizontally */
    justify-content: center;
    /* Centers vertically */ 
    align-items: center;             
    margin: 10px auto;
    width: 80vw;
    height: 50vh;
}

#reaction-area:hover {
    cursor: pointer;
}

#rxn-area-msg {
    display: flex;
    /* Centers horizontally */
    justify-content: center;
    /* Centers vertically */ 
    align-items: center;
    height: 100%;
    white-space: pre-line;
    color: black;
}