#reaction-area {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    width: 90vw;
    height: 50vh;
    border-radius: 10px;
    position: relative; /* Necessary for absolute positioning of the resize handle */
    user-select: none; /* Prevents text selection during drag */
}

#reaction-area:hover {
    cursor: pointer;
}

#rxn-area-msg {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column; 
    white-space: pre-line;
    height: auto;
    width: auto;
    margin: 0px 5px;
    color: black;
}

#resize-handle {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 2%;
    height: 2%;
    background-color: transparent;
    cursor: se-resize; 
    border-right: 20px solid #b0b0b0;
    border-bottom: 20px solid #b0b0b0;
    border-radius: 1;
    clip-path: polygon(100% 0, 0 100%, 100% 100%);
}
