.trial-button {
    padding: 10px 20px;
    margin: 5px;
    border: 2px solid #aeb1b6;
    background-color: #aeb1b6;
    font-weight: normal;
    cursor: pointer;
    color: black;
    border-radius: 5px;
}

.trial-button.selected {
    background-color: #4caf50; /* Highlight color */
    color: white;
    font-weight: bold;
    border-color: #4caf50;
}