.container {
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

#title-area {
    display: flex; 
    justify-content: left;
    box-sizing: border-box;
    display: block;
    width: 100%;
    background-color: gray;
    padding: 10px;
    margin: 0px;
}