.container {
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

#title-area, #dir {
    display: flex; 
    justify-content: center left;
    box-sizing: border-box;
    display: block;
    width: 100%;
    border: none;
    margin: 0 auto;
}

.header-txt, .dir-txt {
    margin: 0 5px;
    border: none;
    padding: 0;
}

#title-area {
    align-items: center; 
    background-color: rgb(81, 77, 77);
}